*.ai
*.pyc

.idea/dictionaries/alyzs.xml
personalplanner/assets/stylesheet.qss
.idea/dictionaries/alyzs.xml
personalplanner/assets/stylesheet.qss
data/logs/*.txt
data/logs/2020-09-18.txt
data/planner.db
data/planner.db
